<style>
body {
    text-align: center;
    font-size: 300%;
    font-family: Fanwood Text, Georgia, serif;
    //font-weight: bold;
    //text-decoration: underline;
}
c {
    color: blue;
    //font-weight: bold;
}
m {
    color: green;
    font-style: italic;
    //text-decoration: underline;
}
</style>

<c>co</c><m><c>m</c>ag<c>ic</c>k</m>
